<section class="contact-section container" id="contact">
  <div class="contact-wrap">
    <h2 class="contact-title">Have Questions or Need Help?</h2>
    <p class="contact-text">
      We’re here to make your journey through the enchanted orchard smooth and
      exciting. Whether you're curious about the game, have technical issues, or
      want to share your juicy wins, don’t hesitate to reach out!
    </p>

    <div class="contact-info">
      <p class="contact-text">
        Email: <a class="email" href="mailto:info@orvithra.com">info@orvithra.com</a><br />
        Support Hours: Monday–Friday, 9 AM – 6 PM (GMT)
      </p>

      <p class="contact-text">We usually respond within 24 hours on working days.</p>
    </div>
  </div>

  <img class="k-letter" src="./img/letter-k.png" alt="K letter">
  <img class="j-letter" src="./img/letter-j.png" alt="J letter">
</section>
