<footer class="footer-section container" id="footer">
  <div class="footer-disclaimer">
    <p class="footer-text">
      <span class="disclaimer-word">Disclaimer:</span> Cursed Can IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
      WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL
      LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME.
    </p>
  </div>
  <div class="footer-legal">
    <img class="footer-logo" src="./img/footer-logo-apple.png" alt="green apple">
    <p class="rights">© 2025 Orvithra Games. All rights reserved.</p>
    <nav class="footer-nav">
      <ul class="footer-pages-list">
        <li><a class="footer-pages-link" href="./privacy-policy.html">Privacy Policy</a></li>
        <li><a class="footer-pages-link" href="./terms-and-conditions.html">Terms of Use</a></li>
        <li><a class="footer-pages-link" href="./cookies-policy.html">Cookie Policy</a></li>
      </ul>
    </nav>
  </div>

</footer>
