<section class="gameplay-section container" id="gameplay">
  <div class="gameplay-wrap">
    <h2 class="gameplay-title">See the Enchanting Action!</h2>
    <div class="gameplay-nav">
      <button class="gameplay-btn-prev" aria-label="Previous slide">
        <img
          class="left-arrow-active"
          src="./img/mobile/left-active-btn.png"
          alt="left arrow"
        />
      </button>
      <button class="gameplay-btn-next" aria-label="Next slide">
        <img
          class="right-arrow-active"
          src="./img/mobile/right-active-btn.png"
          alt="right arrow"
        />
      </button>
    </div>
    <div class="gameplay-slider swiper">
      <ul class="gameplay-swiper-wrapper swiper-wrapper">
        <li class="gameplay-swiper-slide swiper-slide">
          <img class="gameplay-slide-img" src="./img/mobile/gameplay-slide-1.png" alt="" />
          <img class="desktop-gameplay-slide-img" src="./img/desktop/desktop-gameplay-slide-1.png" alt="" />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img class="gameplay-slide-img" src="./img/mobile/gameplay-slide-2.png" alt="" />
          <img class="desktop-gameplay-slide-img" src="./img/desktop/desktop-gameplay-slide-2.png" alt="" />
        </li>
        <li class="gameplay-swiper-slide swiper-slide">
          <img class="gameplay-slide-img" src="./img/mobile/gameplay-slide-3.png" alt="" />
          <img class="desktop-gameplay-slide-img" src="./img/desktop/desktop-gameplay-slide-3.png" alt="" />
        </li>
        

      </ul>
    </div>
  </div>
</section>
