<section class="overview-section container" id="game-overview">
  <div class="overview-wrap">
    <h2 class="overview-title">
      Welcome to the Enchanting World of Cursed Can!
    </h2>
    <img class="overview-img-mobile" src="./img/mobile/overview-img.png" alt="cursed can bonus" />
    <div class="overview-content-wrap">
      <img class="overview-img-desktop" src="./img/desktop/overview-desktop.png" alt="cursed can bonus">
      <p class="overview-text">
        Step into the vibrant and whimsical orchard of Cursed Can, a captivating
        5-reel, 3-row slot adventure played across 20 fixed paylines. This isn't
        just your typical fruit machine; prepare for a journey filled with
        unexpected twists and magical transformations. <br><br> The mysterious Cursed Can
        holds the key to unlocking thrilling Free Spins, where ordinary
        high-paying Crop symbols can undergo a spooky metamorphosis into Wilds,
        significantly boosting your winning potential. Keep your eyes peeled for
        the unpredictable Random Event, which can shower the reels with guaranteed
        high-paying symbols in both the main game and the bonus rounds. With its
        charming graphics, engaging features, and the potential for substantial
        rewards, Cursed Can offers a fresh and exciting take on the classic slot
        experience. <br><br> Get ready to spin, transform, and harvest some truly
        enchanting wins!
      </p>
    </div>
  </div>
</section>
