<header class="header-section container">
  <div class="header-wrap">
    <button class="header-menu-open-btn">
      <img class="menu-icon" src="./img/mobile/burger-menu.png" alt="" />
    </button>
    <button class="close-menu-btn">
      <img class="close-icon" src="./img/mobile/close-btn-burger-menu.png" alt="" />
    </button>
    <ul class="header-menu-hidden-list">
      <li class="header-menu-item">
        <a href="#home" class="hidden-menu-link">Home</a>
      </li>
      <li class="header-menu-item">
        <a href="#game-overview" class="hidden-menu-link">Game Overview</a>
      </li>
      <li class="header-menu-item">
        <a href="#features" class="hidden-menu-link">Features</a>
      </li>
      <li class="header-menu-item">
        <a href="#spooky-spins" class="hidden-menu-link">Spooky Spins</a>
      </li>
      <li class="header-menu-item">
        <a href="#gameplay" class="hidden-menu-link">Gameplay</a>
      </li>
      <li class="header-menu-item">
        <a href="#how-to-play" class="hidden-menu-link">How to Play</a>
      </li>
      <li class="header-menu-item">
        <a href="#why-play" class="hidden-menu-link">Why Play</a>
      </li>
      <li class="header-menu-item">
        <a href="#play-now" class="hidden-menu-link">Play Now</a>
      </li>
      <li class="header-menu-item">
        <a href="#contact" class="hidden-menu-link">Contact</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop">
  <ul class="backdrop-list">
    <li class="backdrop-item">
      <a href="/" class="backdrop-link">Home</a>
    </li>
    <li class="backdrop-item">
      <a href="#game-overview" class="backdrop-link">Game Overview</a>
    </li>
    <li class="backdrop-item">
      <a href="#features" class="backdrop-link">Features</a>
    </li>
    <li class="backdrop-item">
      <a href="#spooky-spins" class="backdrop-link">Spooky Spins</a>
    </li>
    <li class="backdrop-item">
      <a href="#gameplay" class="backdrop-link">Gameplay</a>
    </li>
    <li class="backdrop-item">
      <a href="#how-to-play" class="backdrop-link">How to Play</a>
    </li>
    <li class="backdrop-item">
      <a href="#why-play" class="backdrop-link">Why Play</a>
    </li>
    <li class="backdrop-item">
      <a href="#play-now" class="backdrop-link">Play Now</a>
    </li>
    <li class="backdrop-item">
      <a href="#contact" class="backdrop-link">Contact</a>
    </li>
    <li class="backdrop-item">
      <a href="./terms-and-conditions.html" class="backdrop-link"
        >Terms and Conditions</a
      >
    </li>
    <li class="backdrop-item">
      <a href="./privacy-policy.html" class="backdrop-link">Privacy Policy</a>
    </li>
    <li class="backdrop-item">
      <a href="./cookies-policy.html" class="backdrop-link">Cookies Policy</a>
    </li>
  </ul>
</div>
