<section class="hero-section container" id="home">
  <div class="hero-wrap">
    <img
    src="./img/cursed_can_logo.png"
    alt="Cursed Can"
    class="hero-logo"
  />
    <h1 class="hero-title">Unleash the Juicy Wins in Cursed Can!</h1>
    <p class="hero-text">
      Spin your way through a vibrant orchard filled with surprising twists,
      transforming symbols, random events, and bountiful rewards.
    </p>
    <a href="#" class="hero-btn">
      <img src="./img/play-now-btn.png" alt="play now button">
    </a>
  </div>
</section>