<section class="how-to-play-section container" id="how-to-play">
  <div class="how-to-play-wrap">
    <h2 class="how-to-play-title">Your Guide to Growing Wins in Cursed Can</h2>
    <div class="htp-lists-wrap">
      <ul class="how-to-play-list">
        <li class="how-to-play-list-item">
          <img
            class="how-to-play-digit"
            src="./img/mobile/digit-1.png"
            alt="digit"
          />
          <p class="how-to-play-list-text">
            Set your desired bet amount for the 20 fixed paylines.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img
            class="how-to-play-digit"
            src="./img/mobile/digit-2.png"
            alt="digit"
          />
          <p class="how-to-play-list-text">
            Spin the 5 colorful reels and anticipate forming winning
            combinations from left to right.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img
            class="how-to-play-digit"
            src="./img/mobile/digit-3.png"
            alt="digit"
          />
          <p class="how-to-play-list-text">
            The Wild symbol will substitute for most other symbols (excluding
            the Cursed Can) to help you create winning lines.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img
            class="how-to-play-digit"
            src="./img/mobile/digit-4.png"
            alt="digit"
          />
          <p class="how-to-play-list-text">
            Land 3 or more Cursed Can symbols anywhere on the reels to trigger
            the exciting Free Spins bonus round with 10 free spins.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img
            class="how-to-play-digit"
            src="./img/mobile/digit-5.png"
            alt="digit"
          />
          <p class="how-to-play-list-text">
            During Free Spins, watch the droplet meters on the high-paying Crop
            symbols. Landing Cursed Can symbols will reduce these meters,
            eventually transforming Crops into Wild symbols.
          </p>
        </li>
      </ul>
      <ul class="desktop-htp-hidden">
        <li class="how-to-play-list-item">
          <img src="./img/desktop/digit-6.png" alt="" />
          <p class="how-to-play-list-text">
            Be on the lookout for the Random Event, where highlighted reels can
            instantly award wins with high-paying symbols.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img src="./img/desktop/digit-7.png" alt="" />
          <p class="how-to-play-list-text">
            Wins from the Cursed Can symbol are multiplied by your total bet and
            added to any payline wins.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img src="./img/desktop/digit-8.png" alt="" />
          <p class="how-to-play-list-text">
            Aim to land more Cursed Can symbols during Free Spins to re-trigger
            additional free spins, up to a maximum of 40 in total.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img src="./img/desktop/digit-9.png" alt="" />
          <p class="how-to-play-list-text">
            Remember that Crop symbols transformed into Wilds will remain Wild
            for the entire duration of the Free Spins bonus.
          </p>
        </li>
        <li class="how-to-play-list-item">
          <img src="./img/desktop/digit-10.png" alt="" />

          <p class="how-to-play-list-text">
            For detailed information on symbol payouts and game rules, please
            consult the Paytable within the game.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
