<section class="play-now-section container" id="play-now">
  <div class="play-now-wrap">
    <h2 class="play-now-title">Start Your Enchanted Journey in Cursed Can Today!</h2>
    <p class="play-now-text">Play Cursed Can now on [List available platforms - e.g., Desktop, Mobile, Tablet].</p>
    <button class="play-now-btn"><img class="play-now-img" src="./img/play-now-btn.png" alt=""></button>
  </div>
  <img class="a-letter" src="./img/letter-a.png" alt="A letter">
  <img class="q-letter"  src="./img/letter-q.png" alt="Q letter">
</section>