<section class="spoky-spins-section container" id="spooky-spins">
  <div class="spoky-spins-wrap">
    <div class="spoky-header-text-wrap">
      <h1 class="spoky-spins-title">
        Witness Symbol Transformations and Unexpected Rewards!
      </h1>
      <p class="spoky-header-text">
        Get ready for two captivating features that set Cursed Can apart!
      </p>
    </div>

    <ul class="spoky-list">
      <li class="spoky-item">
        <img class="spoky-list-item-img" src="./img/mobile/w-img.png" alt="letter W" />
        <h4 class="spoky-list-item-title">Spooky Spins:</h4>
        <p class="spoky-list-item-text">
          During the Free Spins bonus, observe the droplet meters on the
          high-paying Crop symbols. Every Cursed Can symbol that appears will
          remove a droplet from the cheapest high-paying Crop. Once a Crop's
          meter reaches zero, it will magically transform into a Wild symbol for
          the rest of your Free Spins, potentially leading to significant wins!
        </p>
      </li>
      <li class="spoky-item">
        <img class="spoky-list-item-img" src="./img/mobile/w-img.png" alt="letter W" />
        <h4 class="spoky-list-item-title">Random Event:</h4>
        <p class="spoky-list-item-text">
          At any point during the main game or Free Spins, a thrilling Random
          Event can occur! One, two, or three reels will be randomly selected
          and highlighted, then filled with a random high-paying symbol,
          guaranteeing a payout. If a Crop symbol has already transformed into a
          Wild during Free Spins, it can also appear as a Wild during this
          exciting event!
        </p>
      </li>
    </ul>
  </div>
</section>
