<section class="why-play-section container" id="why-play">
  <div class="why-play-wrap">
    <h2 class="why-to-play-title">
      Discover the Magic and Rewards of Cursed Can
    </h2>
    <ul class="why-play-list">
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          •  &ensp;Unique and engaging "Spooky Spins" feature with transforming symbols.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Exciting Random Event for unexpected wins in both the base game and Free
          Spins.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Lucrative Free Spins bonus round with the potential for re-triggers.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Vibrant and charming orchard theme with captivating visuals.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Classic 5-reel slot gameplay with 20 fixed paylines.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Potential for significant payouts through regular wins, transformed
          Wilds, and scatter wins.
        </p>
      </li>
      <li class="why-play-list-item">
        <p class="why-play-list-text">
          • &ensp;Intuitive and easy-to-understand gameplay.
        </p>
      </li>
    </ul>
  </div>
</section>
