.contact-section {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
  @include media(desktop) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 98px;
  gap: 28px;
  @include media(desktop) {
    margin-bottom: 64px;
    align-items: center;
  }
}

.contact-title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
  @include media(desktop) {
    font-size: 32px;
  }
}

.contact-text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.contact-info {
  box-shadow: 0 2px 12px 0 rgba(30, 45, 0, 0.35), inset 0 0 22px 0 #654795;
  background: #8a61ca;

  border-radius: 12px;
  padding: 20px 16px;
  width: 335px;
  height: 180px;
  @include media(desktop) {
    width: 463px;
    height: 132px;
  }
}

.contact-text-info {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 0;
}

.email {
  font-weight: 400;
}

.hours {
  font-weight: 400;
}

.k-letter {
  width: 133px;
  height: 130px;
  position: absolute;
  bottom: 15px;
  left: 0;
  
  @include media(desktop) {
    left: 185px;
    width: 175px;
    height: 172px;
    bottom: 60px;
  }
}

.j-letter {
  width: 222px;
  height: 200px;
  position: absolute;
  bottom: -25px;
  right: -60px;
  @include media(desktop) {
    right: 70px;
    bottom: 15px;
    width: 235px;
    height: 220px;
  }
}
