.cookie-section {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 0 auto;
  background: #FBD64E;
  @include media(desktop) {
    max-width: 1440px;
  }
}


.cookie-wrap {
  display: flex;
  flex-direction: column;
  width: 337px;
  padding-top: 100px;
  gap: 20px;
  margin-bottom: 60px;
  @include media(desktop) {
    width: 100%;
    max-width: 1268px;
    padding-top: 120px;
  }
}


.cookie-link {
  text-decoration: underline;
}

.cookie-list-item {
  padding-left: 10px;
  display: flex;
}