.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #654795;
  padding-left: 100px;
  padding-right: 100px;
}

.footer-disclaimer {
  box-shadow: inset 0 0 44px 22px #654795;
  background: #8a61ca;
  width: 375px;
  padding: 40px 20px;
  @include media(desktop) {
    width: 1440px;
    padding: 83px 100px;
  }
}

.disclaimer-word {
  font-weight: 800;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-size: 22px;
  }
}

.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

.footer-logo {
  width: 81px;
  height: 70px;
  margin-top: 5px;
  @include media(desktop) {
    order: 2;
    width: 140px;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 252px;
  }
}

.rights {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 14px;
  @include media(desktop) {
    order: 1;
  }
}

.footer-nav {
  @include media(desktop) {
    order: 3;
  }
}

.footer-pages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 22px;
  margin-bottom: 22px;
  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
    margin-left: 111px;
  }
}

.footer-pages-link {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

}
