.play-now-section {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: clip;
}

.play-now-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 74px;
  z-index: 2;
  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.play-now-title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-size: 32px;
  }
}

.play-now-text {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
}

.play-now-btn {
  margin: 0 auto;
  margin-top: 28px;
}

.play-now-img {
  width: 225px;
  height: 80px;
}

.a-letter {
  width: 164px;
  height: 164px;
  position: absolute;
  bottom: -30px;
  left: 0;
  transform: translateX(-37px);
  @include media(desktop) {
    left: 96px;
    bottom: 20px;
    width: 200px;
    height: 200px;
  }
}

.q-letter {
  width: 184px;
  height: 184px;
  position: absolute;
  bottom: -50px;            
  right: 0;
  transform: translateX(43px);
  @include media(desktop) {
    right: 180px;
    bottom: 5px;
    width: 220px;
    height: 220px;
  }
}
