@import './header.scss';
@import './hero.scss';
@import './game-overview.scss';
@import './features.scss';
@import './spoky-spins.scss';
@import './gameplay.scss';
@import './how-to-play.scss';
@import './why-play.scss';
@import './play-now.scss';
@import './contact.scss';
@import './footer.scss';
@import './terms-and-conditions.scss';
@import './privacy-policy.scss';
@import './cookies-policy.scss';


.game-play-guid-wrap {
  background-image: url('../img/sections-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 375px;
  margin: 0 auto;
  @include media(desktop) {
    background-image: url('../img/desktop/gameplay-bg.png');
    width: 100%;
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.play-now-contact-wrap {
  background-image: url('../img/mobile/play-now-contact-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 375px;
  margin: 0 auto;
}
